.git
.github/
.gitignore
.Rbuildignore
.Renviron
.Rprofile
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rcheck
*.tar.gz
Rplots.pdf
_pkgdown.yml
docs/
pkgdown/
Jenkinsfile
JenkinsfileMPI
covr/
deps/
RScripts/
lib/
libMac/
libLinux/
libWin/
src/Makevars_old.txt
src/*.so
src/*.o
src/*.dll
src/*.dylib
